@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primary: #000000;
    --cor-secondary: #FFFFFF;
    --cor-tertiary: #22D4FD;
    --cor-hover: #272727;
    --fonte-title: 'Krona One', sans-serif;
    --fonte-secundary: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primary);
    color: var(--cor-secondary);
}

.destaque-titulo {
    color: var(--cor-tertiary);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundary);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-tertiary);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 84px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-title);
}

.apresentacao__conteudo__titulo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundary);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundary);
    font-weight: 400;
    size: 1.5rem;
}

.apresentacao__links__navegacao {
    color: var(--cor-secondary);
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: var(--fonte-secundary);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    /* background-color: var(--cor-tertiary); */
    width: 60%;
    padding: 21.5px 0;
    border-radius: 8px;
    border: 2px solid var(--cor-tertiary);
}

.apresentacao__links__navegacao__by {
    color: var(--cor-secondary);
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: var(--fonte-secundary);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    /* background-color: var(--cor-tertiary); */
    width: 60%;
    padding: 21.5px 0;
    border-radius: 8px;
    border: 2px solid var(--cor-tertiary);
}

.logo {
    width: 50%;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__img {
    width: 50%;
    border-radius: 21px;
}

.rodape {
    color: var(--cor-primary);
    background-color: var(--cor-tertiary);
    text-align: center;
    padding: 24px;
    size: 1.5rem;
    font-family: var(--fonte-secundary);
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}